<div *ngIf="tableData">
  <table mat-table [dataSource]="tableData" class="mat-elevation-z8 demo-table">
    <!-- No. Column -->
    <ng-container matColumnDef="pointNumber">
      <th mat-header-cell *matHeaderCellDef class="color-black"> No. </th>
      <td mat-cell *matCellDef="let element" class="text-light"> {{element.point?.pointNumber}} </td>
    </ng-container>

    <!-- xAxis Column -->
    <ng-container matColumnDef="xAxis">
      <th mat-header-cell *matHeaderCellDef class="color-black"> xAxis </th>
      <td mat-cell *matCellDef="let element" class="text-light"> {{element.point?.xAxis}} </td>
    </ng-container>

    <!-- yAxis Column -->
    <ng-container matColumnDef="yAxis">
      <th mat-header-cell *matHeaderCellDef class="color-black"> yAxis </th>
      <td mat-cell *matCellDef="let element" class="text-light"> {{element.point?.yAxis}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
